#body{
    text-align: center;
    background-color: #b5c99a;    
}
#heading{
    color:#718355;
    text-shadow: 2px 2px #84a59d;
    padding:2rem 0 2.5rem 0;
    text-align: center;
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
    margin: 2rem auto 3rem auto;
    white-space: nowrap;
    overflow: hidden; 
}

/* Animation */
h1 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 80rem;}
}
  
  /* cursor animations */
  
@keyframes animated-cursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

p{
    margin:1rem 0 2rem 0;
    color: #585123;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 2px 2px #87986a;
}

.instrument-box{        
    display: inline-block;
}

.instrument{
    outline: none;
    border: 0.7rem solid #97a97c ;
    font-size: 1.6rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 5rem;
    display: inline-block;
    width: 15rem;
    height: 14rem;
    text-align: center;
    margin: 0.7rem;
    background-color: #e9f5db;
}

.instrument:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px #718355;
 }
 
.pressed{
     box-shadow: 0 0.5rem 0.5rem 0 #DBEDF3;
     opacity: 0.5;
 }

/* TRANSPORT */

.b{
    background-image: url("images/musical-instrument/bagpipe.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.d{
    background-image: url("images/musical-instrument/drum.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.f{
    background-image: url("images/musical-instrument/flute.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.g{
    background-image: url("images/musical-instrument/guitar.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.h{
    background-image: url("images/musical-instrument/harmonium.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.p{
    background-image: url("images/musical-instrument/piano.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.s{
    background-image: url("images/musical-instrument/sitar.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.t{
    background-image: url("images/musical-instrument/tabla.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}
.v{
    background-image: url("images/musical-instrument/violin.png");
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    background-position: center;
}